@import url("http://fonts.googleapis.com/css?family=Open+Sans");
/*========BODY=======*/
body { margin: 0; padding: 0; background-color: #fff; font-family: 'Open Sans', sans-serif; box-sizing: border-box; color: #393939; font-size: 16px; }

img { max-width: 100%; }

h2 { text-align: center; margin-top: 0; margin-bottom: 30px; }

p { margin-bottom: 30px; text-align: left; }

#container { width: 960px; margin: 0 auto; padding-top: 100px; text-align: center; }

.button { border: 1px solid #9ecee3; border-radius: 10px; display: inline-block; margin: 0 auto; height: 40px; }
.button a { text-decoration: none; color: #393939; letter-spacing: 0.1em; line-height: 40px; padding: 20px; }
.button:hover { border: 1px solid #f4d03f; background-color: #f4d03f; }

/*========CLEARFIX=======*/
.clearfix:before, main:before, #container:before, .clearfix:after, main:after, #container:after { content: ""; display: table; }
.clearfix:after, main:after, #container:after { clear: both; }

/*========HEADER=======*/
.header-container { width: 960px; height: 160px; margin: 0 auto; position: relative; }

header { background-color: #f4d03f; height: 160px; }
header .left { position: absolute; bottom: 10px; left: 350px; }
header .right { position: absolute; bottom: 10px; left: 570px; }
header h1 { margin: 0; }
header img { position: absolute; bottom: -75px; left: 405px; }
header ul { margin: 0; padding: 0; list-style: none; display: inline-block; }
header ul li { border-right: 1px solid #393939; float: left; line-height: 16px; margin-right: 10px; padding-right: 10px; }
header ul li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
header ul a { color: #393939; text-decoration: none; }
header ul a .current, header ul a:hover { margin-bottom: 5px; border-bottom: 2px solid #393939; }

/*========WORK FILTER=======*/
.work-filter { width: 311px; margin: 0 auto; }

ul#filter { margin: 0; padding: 0; list-style: none; width: 100%; display: inline-block; }
ul#filter li { border-right: 1px solid #dedede; float: left; line-height: 16px; margin-right: 10px; padding-right: 10px; }
ul#filter li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
ul#filter a { color: #999; text-decoration: none; }
ul#filter a .current, ul#filter a:hover { margin-bottom: 5px; border-bottom: 2px solid #999; }
ul#filter a .current { color: #333; font-weight: bold; }

/*========PORTFOLIO=======*/
ul#portfolio { float: left; list-style: none; margin-top: 30px; }
ul#portfolio li { float: left; margin: 5px 5px 15px 5px; padding: 5px; width: 200px; }
ul#portfolio a { text-align: center; display: block; color: #393939; font-variant: small-caps; font-weight: 400; font-size: 17px; text-decoration: none; width: 200px; padding-bottom: 15px; border: 1px solid #dedede; border-radius: 8px; }
ul#portfolio a:hover { background-color: #f4d03f; }
ul#portfolio a:focus { outline: none; background-color: #f4d03f; }
ul#portfolio img { display: block; margin-bottom: 15px; border-top-left-radius: 8px; border-top-right-radius: 8px; }

/*========FOOTER=======*/
footer { margin-top: 30px; border-top: 2px solid #999; font-size: 14px; }
footer p { text-align: center; }

/*# sourceMappingURL=main.css.map */