@import url("http://fonts.googleapis.com/css?family=Open+Sans");

$text-color: #393939;
$text-highlight: #999;
$accent: #f4d03f;
$mini-accent: #9ecee3;

/*========BODY=======*/

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: $text-color;
  font-size: 16px; 
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

p{
  margin-bottom: 30px;
  text-align: left;
}

main {
  @extend .clearfix;
}

#container {
  width: 960px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;

  @extend .clearfix;
}

.button {
  border: 1px solid $mini-accent;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
  height: 40px;

  a {
    text-decoration: none;
    color: $text-color;
    letter-spacing: 0.1em;
    line-height: 40px;
    padding: 20px;
  }
  &:hover {
      border: 1px solid $accent;
      background-color: $accent;
    }
}

/*========CLEARFIX=======*/

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*========HEADER=======*/

.header-container {
  width: 960px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: $accent;
  height: 160px;

  .left {
    position: absolute;
    bottom: 10px;
    left: 350px;
  }

  .right {
    position: absolute;
    bottom: 10px;
    left: 570px;
  }

  h1 {
    margin: 0;
  }

  img {
    position: absolute;
    bottom: -75px;
    left: 405px;
  }

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;

  li {
    border-right: 1px solid $text-color;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-right: 10px;
    &:last-child { 
      border-right: none; 
      margin-right: 0; 
      padding-right: 0; 
    }
  }

  a { 
    color: $text-color; 
    text-decoration: none; 

    .current,
    &:hover {
      margin-bottom: 5px;
      border-bottom: 2px solid $text-color;
    }
  }
}
}

/*========WORK FILTER=======*/

.work-filter {
  width: 311px;
  margin: 0 auto;
}

ul#filter { 
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: inline-block;

  li {
    border-right: 1px solid #dedede;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-right: 10px;
    &:last-child { 
      border-right: none; 
      margin-right: 0; 
      padding-right: 0; 
    }
  }

  a { 
    color: $text-highlight; 
    text-decoration: 
    none; 

    .current,
    &:hover {
      margin-bottom: 5px;
      border-bottom: 2px solid $text-highlight;
    }

    .current {
      color: #333; 
      font-weight: bold;
    }
  }
}

/*========PORTFOLIO=======*/

ul#portfolio {
    float: left;
    list-style: none;
    margin-top: 30px;

    li {
      float: left;
      margin: 5px 5px 15px 5px;
      padding: 5px;
      width: 200px;
    }

    a {
      text-align: center;
      display: block;
      color: $text-color;
      font-variant: small-caps;
      font-weight: 400;
      font-size: 17px;
      text-decoration: none;
      width: 202px;
      padding-bottom: 5px;
      &:hover {
        background-color: $accent;
      }
      &:focus {
        outline: none;
        background-color: $accent;
      }
    }

    img {
      border: 1px solid #dedede;
      display: block;
      margin-bottom: 5px;
    }
  }

  /*========FOOTER=======*/

  footer {
    margin-top: 30px;
    border-top: 2px solid $text-highlight;
    font-size: 14px;

      p {
        text-align: center;
      }
  }