@import url("http://fonts.googleapis.com/css?family=Open+Sans");

$text-color: #393939;
$text-highlight: #999;
$accent: #f4d03f;
$mini-accent: #9ecee3;

$font-stack: 'Open Sans', sans-serif;


/*========GRID/LAYOUT=======*/

.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.contain-to-grid {
	background-color: $accent;
	color: $text-color;
}

.col-container {
	width: 100%;
}

/*========TYPOGRAPHY=======*/

h3 {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 2rem;

	@media only screen and (max-width: 40em) {
		margin-top: 1rem;
		margin-bottom: 1rem;
		max-width: 16rem;
	}
}

h4 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 1rem;

	@media only screen and (max-width: 40em) {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}
}

p {
	
	@media only screen and (max-width: 40em) {
		margin: 0 0.7rem;
	}
}

/*========BUTTON=======*/
.button-container {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 136px;
}

.button {
	width: 136px;
	margin: 0 auto;
	border: 1px solid $mini-accent;
	border-radius: 10px;
	background-color: #fff;
	height: 40px;
	padding: 1rem 1.5rem 1.0625rem 1.6rem;

  &:hover,
  &:focus {
      border: 1px solid $accent;
      background-color: $accent;
    }
}

a.button {
	line-height: 7px;
	text-decoration: none;
	color: $text-color;
	letter-spacing: 0.1em;

	&:hover,
	&:focus {
		color: $text-color;
	}
}


/*========NAVIGATION=======*/

.top-bar.expanded .toggle-topbar a {
  color: $text-color;
}

.top-bar-section ul li>a {
  color: $text-color;
  font-weight: 600;
  border-bottom: 2px solid $text-color;
}

@media only screen and (min-width: 40.0625em) {
	.top-bar-section li:not(.has-form) a:not(.button) {
	  background: $accent;
	}
}

.top-bar {
	background-color: $accent;

		.name {
			h1 {
				a {
					color: $text-color;
				}
			}
		}

		.toggle-topbar {
			a {
				color: $text-color;
			}
		}

	.top-bar-selection {
		background-color: $accent;

	}

	ul {
		li {
			background-color: $accent;
		}
	}
}

/*========LOGO/HEADER=======*/

.logo {
	background-color: $accent;
	max-height: 8.1em;
	margin-bottom: 100px;

	img {
		position: relative;
		top: -0.4em;
		height: 220px;
		width: 150px;
		margin: 0 auto;
		display: block;
		margin: 0 auto;
	}
}

/*========HOME=======*/

.grid {
	margin: 0 auto;

	a {
		&:hover:after,
		&:focus:after {
			cursor: pointer;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(182, 182, 182, 0.7);
			background-image: url(../images/thumbs/plus.png);
			background-repeat: no-repeat;
			background-position: center;
			margin: 7px;
		}
	}
}

.grid-item {
	padding: 7px;
	width: 330px;
}

.work-section {
	border-top: 2px solid $text-color;
	padding-bottom: 1.2em;
}

/*========ABOUT=======*/

.social {
	text-align: center;

	img {
		padding: 10px;
		position: relative;
		top: 0px;
		-webkit-transition: top 0.4s ease;
		-moz-transition: top 0.4s ease;
		-o-transition: top 0.4s ease;

		&:hover,
		&:focus {
			top: -10px;
		}
	}
}

/*========PRODUCTS=======*/

main {
	img {
		margin: 10px 0 20px 0;
	}

	p:last-child {
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}

/*========FOOTER=======*/

footer {
	margin-top: 80px;
	padding-top: 25px;
	min-height: 9em; 
	background-color: $accent;

	.subheading {
		font-weight: 500;
		margin-left: 0;
	}

	.icons {
		text-align: right;

	}

	.icons-small {
		text-align: center;
		margin-bottom: 10px;
	}

	span.contact {
		display: block;
	}

	img {
		text-align: right;
		max-width: 40px;
		padding: 5px;
		padding-top: 25px;

		&:hover {
			cursor: pointer;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;

			a {
				color: $text-color;

				&:hover {
					color: $text-color;
					border-bottom: 2px solid $text-color;
		}
	}
		}
	}
}